In [1]:
import pandas as pd

# D&D characters data
characters_data = {
  'name': ['Thorne', 'Elira', 'Glim', 'Brug', 'Nyx', 'Kael', 'Mira', 'Drogan', 'Zara', 'Fenwick'],
  'race': ['Elf', 'Human', 'Gnome', 'Half-Orc', 'Tiefling', 'Dragonborn', 'Halfling', 'Dwarf', 'Aasimar', 'Goblin'],
  'class': ['Ranger', 'Cleric', 'Wizard', 'Barbarian', 'Rogue', 'Paladin', 'Bard', 'Fighter', 'Sorcerer', 'Warlock'],
  'level': [5, 3, 4, 2, 6, 7, 3, 5, 4, 2],
  'hp': [42, 28, 33, 25, 48, 56, 30, 44, 36, 24],
  'alignment': [
    'Chaotic Good', 'Lawful Good', 'Neutral', 'Chaotic Neutral', 'Chaotic Evil',
    'Lawful Neutral', 'Neutral Good', 'Neutral', 'Chaotic Good', 'Lawful Evil'
  ]
}

# Create the DataFrame
characters = pd.DataFrame(characters_data)

In [2]:
high_level_characters = characters[characters['level'] > 4]
high_level_characters

     name        race    class  level  hp       alignment
0  Thorne         Elf   Ranger      5  42    Chaotic Good
4     Nyx    Tiefling    Rogue      6  48    Chaotic Evil
5    Kael  Dragonborn  Paladin      7  56  Lawful Neutral
7  Drogan       Dwarf  Fighter      5  44         Neutral

In [ ]:
characters['level'] > 4 # this is a series of boolean values

0     True
1    False
2    False
3    False
4     True
5     True
6    False
7     True
8    False
9    False
Name: level, dtype: bool

In [4]:
high_hp_and_level = characters[(characters['hp'] > 40) & (characters['level'] > 4)]

In [5]:
high_hp_and_level

     name        race    class  level  hp       alignment
0  Thorne         Elf   Ranger      5  42    Chaotic Good
4     Nyx    Tiefling    Rogue      6  48    Chaotic Evil
5    Kael  Dragonborn  Paladin      7  56  Lawful Neutral
7  Drogan       Dwarf  Fighter      5  44         Neutral

In [6]:
low_hp_or_level = characters[(characters['hp'] < 30) | (characters['level'] < 3)]

In [7]:
low_hp_or_level

      name      race      class  level  hp        alignment
1    Elira     Human     Cleric      3  28      Lawful Good
3     Brug  Half-Orc  Barbarian      2  25  Chaotic Neutral
9  Fenwick    Goblin    Warlock      2  24      Lawful Evil

In [8]:
halfling_bards = characters[(characters['race'] == 'Halfling') & (characters['class'] == 'Bard')]

In [9]:
halfling_bards

   name      race class  level  hp     alignment
6  Mira  Halfling  Bard      3  30  Neutral Good

In [10]:
magic_users = characters[characters['class'].isin(['Wizard', 'Sorcerer', 'Warlock'])]

In [11]:
magic_users

      name     race     class  level  hp     alignment
2     Glim    Gnome    Wizard      4  33       Neutral
8     Zara  Aasimar  Sorcerer      4  36  Chaotic Good
9  Fenwick   Goblin   Warlock      2  24   Lawful Evil